/*Header and Footer */
html, body {
	height: auto;
}
#wrap {
    margin: 50px auto 50px;
    padding: 0 0;
}
#wrap.container {
	border: 1px solid #b3b3b3;
}
#wrap footer, #wrap header, #wrap section {
	box-shadow: none;
	background-color: transparent;
	padding: 0 3%;
}
#wrap section {
}
#wrap header .header-wrapper {
	border-bottom: 1px solid black;
	padding: 20px 0 20px 0;
}
#wrap  .header-wrapper img {
	position: absolute;
	left: 0;
}
#wrap footer div {
	border-top: 1px solid black;
	padding: 20px 0 0 0;
}
#wrap header .table_of_contents {
	font-weight: bold;
	font-size: 12px;
	margin: 5px 0 11px;
}
#wrap header .value {
	font-weight: bold;
}
#wrap header .value::before {
	content: ' : ';
}
#wrap header h5 {
	margin: 6px 0;
}
@media (min-width: 1200px) {
	.container {
	    width: 1240px;
	}
}

/*Front Page*/
#front_page {
	position: relative;
}
#front_page h2 {
    font-weight: bold;
    margin: 50px 0;
	font-size: 40px;
    margin-bottom: 170px;
}
.front_img_container {
	width: 100%;
}
.front_img_container img {
	width: 100%;
}

/*Table of Contents*/
#table_of_contents .contents, #table_of_contents .contents ol {
	list-style: none;
}
#table_of_contents .contents .heading {
	margin-top: 10px;
	font-weight: bold;
	color: #711f44;
}
#table_of_contents .contents .appendix-item {
	list-style: disc;
	margin-left: 15px;
}
#table_of_contents .contents .appendix::before {
	content: '';
    display: inline-block;
    margin: 5px 0;
    border-top: 1px solid #000;
    width: 95%;
}
#module1 p {
	font-style: italic;
}
#module1 ol {
    margin-bottom: 400px;
	list-style: none;
	padding: 10px 0px;
}
#module1 ol li {
	font-weight: bold;
}
#module1 .assessment_table {
	width: 100%;
}
#module1 .assessment_table thead td {
	text-decoration: underline;
}
#module1 .assessment_table td:nth-child(even) {
	text-align: center;
}
#module1 .assessment_questions {
	list-style: none;
}
#module1 .assessment_questions li:first-child {
	text-decoration: underline;
}
#module1 .assessment_overview {
	display: flex;
}
#module1 .assessment_overview_heading {
	font-weight: bold;
	color: #711f44;
    margin: 35px 0;
}
#module1 .assessment_overview .overview_parts {
	width: 50%;
}
#module1 .assessment_customization {
	margin-bottom: 70px;
}
#module1 .assessment_customization h4 {
    text-decoration: underline;
    margin-top: 25px;
}
#module1 .assessment_customization h5 {
	font-weight: bold;
	margin-top: 15px;
}
#module1 .assessment_customization ul {
	padding-left: 20px;
}
#module1_2 .rating_table thead td {
	text-decoration: underline;
}
#module1_2 .rating_table thead td:nth-child(1), #module1_2 .rating_table tr td:nth-child(1) {
	width: 40%;
}
#module1_2 .effectiveness_score_table tr td:nth-child(2) {
	text-align: center;
}
.key_priorities ul li:first-child {
	list-style-type: none;
}
#module1_2 .key_weekness table, #module1_2 .key_strengths	 table {
	margin-top: -25px;
}
#module1_3 .progress_container {
	height: 290px;
}
#module1_3 .progress_container .c100 .desc {
	font-size: 18px;
	font-weight: bold;
	position: absolute;
    bottom: -60px;
    text-align: center;
}
#module1_3 .progress_container h3 {
	text-align: center;
	margin-bottom: 20px;
	color: #711f44;
	font-weight: bold;
}
#module1_3 .effectiveness_area_map h3 {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid rgba(125, 125, 125, 0.3);;
	padding: 20px 10px;
	margin: 0;
}
#module1_3 .effectiveness_area_map .map_container {
	height: 260px;
}
.border-light {
	border: 1px solid rgba(125, 125, 125, 0.3);
}