/*Header and Footer */
html, body {
	height: auto;
}
#wrap {
    margin: 50px auto 50px;
    padding: 0 0;
}
#wrap.container {
	border: 1px solid #b3b3b3;
}
#wrap footer, #wrap header, #wrap section {
	box-shadow: none;
	background-color: transparent;
	padding: 0 3%;
}
#wrap section {
}
#wrap header .header-wrapper {
	border-bottom: 1px solid black;
	padding: 20px 0 20px 0;
}
#wrap  .header-wrapper img {
	position: absolute;
	left: 0;
}
#wrap footer div {
	border-top: 1px solid black;
	padding: 20px 0 0 0;
}
#wrap header .table_of_contents {
	font-weight: bold;
	font-size: 12px;
	margin: 5px 0 11px;
}
#wrap header .value {
	font-weight: bold;
}
#wrap header .value::before {
	content: ' : ';
}
#wrap header h5 {
	margin: 6px 0;
}
@media (min-width: 1200px) {
	.container {
	    width: 1240px;
	}
}

/*Front Page*/
#front_page {
	position: relative;
}
#front_page h2 {
    font-weight: bold;
    margin: 50px 0;
	font-size: 40px;
    margin-bottom: 170px;
}
.front_img_container {
	width: 100%;
}
.front_img_container img {
	width: 100%;
}

/*Table of Contents*/
#table_of_contents .contents, #table_of_contents .contents ol {
	list-style: none;
}
#table_of_contents .contents .heading {
	margin-top: 10px;
	font-weight: bold;
	color: #711f44;
}
#table_of_contents .contents .appendix-item {
	list-style: disc;
	margin-left: 15px;
}
#table_of_contents .contents .appendix::before {
	content: '';
    display: inline-block;
    margin: 5px 0;
    border-top: 1px solid #000;
    width: 95%;
}
.module p {
	font-style: italic;
}
#module1 .wrapper, #module4 .wrapper  {
	margin-bottom: 390px;
}
#module2 .wrapper {
	margin-bottom: 300px;
}
#module2_1 .wrapper {
	margin-bottom: 50px;
}
#module3 .wrapper {
	margin-bottom: 100px;
}
.module ol {
	list-style: none;
	padding: 10px 0px;
}
.module ol li {
	font-weight: bold;
}
#module1 .assessment_table {
	width: 100%;
}
#module1 .assessment_table thead td {
	text-decoration: underline;
}
#module1 .assessment_table td:nth-child(even) {
	text-align: center;
}
#module1 .assessment_questions {
	list-style: none;
}
#module1 .assessment_questions li:first-child {
	text-decoration: underline;
}
#module1 .assessment_overview {
	display: flex;
}
#module1 .assessment_overview_heading {
	font-weight: bold;
	color: #711f44;
    margin: 35px 0;
}
#module1 .assessment_overview .overview_parts {
	width: 50%;
}
#module1 .assessment_customization {
	margin-bottom: 70px;
}
#module1 .assessment_customization h4 {
    text-decoration: underline;
    margin-top: 25px;
}
#module1 .assessment_customization h5 {
	font-weight: bold;
	margin-top: 15px;
}
#module1 .assessment_customization ul {
	padding-left: 20px;
}
#module1_2 .rating_table thead td {
	text-decoration: underline;
}
#module1_2 .rating_table thead td:nth-child(1), #module1_2 .rating_table tr td:nth-child(1) {
	width: 40%;
}
#module1_2 .effectiveness_score_table tr td:nth-child(2) {
	text-align: center;
}
.key_priorities ul li:first-child {
	list-style-type: none;
}
#module1_2 .key_weekness table, #module1_2 .key_strengths	 table {
	margin-top: -25px;
}
.heading {
	font-weight: bold;
}
#module1_3 .progress_container {
	height: 290px;
}
#module1_3 .progress_container .c100 .desc {
	font-size: 18px;
	font-weight: bold;
	position: absolute;
    bottom: -60px;
    text-align: center;
}
#module1_3 .progress_container h3 {
	text-align: center;
	margin-bottom: 20px;
	color: #711f44;
	font-weight: bold;
}
#module1_3 .effectiveness_area_map h3, #module1_3 .effectiveness_spider_chart h3  {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid rgba(125, 125, 125, 0.3);;
	padding: 20px 10px;
	margin: 0;
}
#module1_3 .effectiveness_spider_chart .map_container {
 	height: 230px;
}
#module1_3 .effectiveness_gap_map .map_container {
	height: 300px;
}
.border-light {
	border: 1px solid rgba(125, 125, 125, 0.3);
}
.table_rep .side_menu {
    display: inline-block;
    width: 40%;
    float: left;
    margin-right: 20px;
}
.table_rep .side_menu ul {
	list-style: none;
    padding: 0;
    border: 1px solid #b5b5b5;
}
.table_rep .side_menu ul li {
	border-radius: 5px;
}
.table_rep .side_menu ul li .text {
	display: inline-block;
	padding: 10px 15px;
	width: 68%;
}
.table_rep .side_menu ul li .icon {
	display: inline-block;
	padding: 10px 15px;
	width: 4%;
}
.table_rep .side_menu ul li .arrow_wrapper {
	display: inline-block;
	padding: 10px 15px;
	width: 5%;
}
.table_rep .side_menu ul .active .arrow_wrapper {
    border-left: 1px solid #b5b5b5;
}
.table_rep .side_menu ul .active {
	background-color: #fbe8b1;
}
.table_rep .side_menu ul .heading {
	background-color: #3e5886;
    color: white;
    border-radius: 0;
    margin-bottom: 10px;
}
.table_rep .side_value {
	display: inline-block;
	width: 55%;
	border: 1px solid #b1aeae;
}
.table_rep .side_value .strength {
	color: #236328;
}
.table_rep .side_value .weakness {
	color: #b10f0f;
}
.table_rep .side_value .header {
	background-color: #b3b3b3;
}
.table_rep .side_value .header h3 {
	float: left;
	margin-top: -30px;
}
.table_rep .content_wrapper {
	list-style: none;
	padding: 0;	
}
.table_rep .content_wrapper li {
	margin: 5px 0;
	padding: 5px 10px;
	background: #dedede;
    border: 1px solid #b1aeae;
    border-radius: 4px;
}
.table_rep .content_wrapper li .arrow_wrapper {
	margin-right: 10px;
}
.table_rep .content_wrapper li .text {
	display: inline-block;
	width: 80%;
}
.table_rep .content_wrapper li .score {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #fff;
	text-align: center;
}
.table_rep .content_wrapper li .score.blue {
	background-color: #227fa2;
}
.table_rep .content_wrapper li .score.yellow {
	background-color: #b19715;
}
.table_rep .content_wrapper li .score.red {
	background-color: #b10f0f;
}
#module3 .ssa_ul {
    padding: 0 15px;
}
#module3 .ssa_ul li span {
	font-weight: bold;
}
#module3 .ssa_ul .positive {
	color: green;
}
#module3 .ssa_ul .neutral {
	color: black;
}
#module3 .ssa_ul .negative {
	color: red;
}
#module3 .overall_sentiment {
	margin: 20px 0;
}
#module3 .overall_sentiment .positive {
	color: green;
	font-weight: bold;
}
#module3 .afr_heading {
	text-decoration: underline;
	margin-bottom: 10px;
}
.assessor_feedback_remarks {
    height: 460px;
	padding-left: 15px;
}
#module3_2 .afr_heading {
	text-decoration: underline;
	margin-bottom: 10px;
	font-weight: bold;
}
#module3_2 .wrapper {
	margin-bottom: 200px;
}
.sentiment_ul li:first-child {
	font-weight: bold;
	list-style-type: none;
	margin-left: -15px;
}
.sentiment_ul {
	padding-left: 15px;
}
.sentiment_ul li:first-child .head {
	color: #713838;
}
.sentiment_ul li:first-child .positive {
	color: green;
}
.sentiment_ul li:first-child .neutral {
	color: black;
}
.sentiment_ul li:first-child .negative {
	color: red;
}
.swot_wrapper {
    padding: 20px;
    border: 1px solid;
}
.swot_table {
	width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}
.swot_table td {
	padding: 10px;
	position: relative;
}
.swot_table td h3 {
	margin-top: 10px;
}
.swot_table td.strengths {
	background-color: #000;
	color: white;
}
.swot_table td.weeknesses {
	background-color: #807e7e;
	color: white;
}
.swot_table td.opportunities {
	background-color: #104e10;
	color: white;
}
.swot_table td.threats {
	background-color: #a50909;
	color: white;
}
.swot_table td .watermark {
	position: absolute;
	right: 20px;
	color: #fff;
	font-size: 45px;
	font-weight: bold;
}
.swot_table td .ce {
    display: inline-block;
    width: 40px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #585353;
    border-radius: 30%;
    font-weight: bold;
    color: black;
}
.score {
	display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 20px;
	text-align: center;
	border: 1px solid #fff;
}
.score.blue {
	background-color: #0f80a2;
}
.score.green {
	background-color: green;
}
.score.yellow {
	background-color: #928003;
}
.score.red {
	background-color: #790c0c;
}
.swot_table .last_row td {
	text-align: center;
	font-weight: bold;
}
.swot_table .last_row td.positive {
	color: #104e10
}
.swot_table .last_row td.negative {
	color: #a50909
}
#module5 .wrapper {
	margin-bottom: 440px;
}
.module5 .tab_ul {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 5px;
}
.module5 .tab_ul li {
    display: inline-block;
    width: 49%;
    height: 90px;
    border-radius: 5px;
    padding: 10px 10px 10px 25px;
    background-color: #d9dcde;
    color: #155798;
    float: left;
}
.module5 .tab_ul li.active {
	background-color: #155798;
	color: #fff;
	padding-top: 20px;
}
.module5 .tab_ul li h4 {
	font-size: 18px;
}
#module5_all .details .main_head, #module5_all .details .sub_head {
	display: inline-block;
	width: 49%;
}
#module5_all .details {
	border: 2px solid #d9dcde;
}
#module5_all article .header h4 {
	display: inline-block;
	width: 60%;
	margin-left: 2%;
}
#module5_all article {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
}
#module5_all article .header {
    background-color: #ddd;
    margin-top: -20px;
    border: 2px solid #ccc;	
}
#module5_all article .header .id_area {
	display: inline-block;
	width: 150px;
	background-color: #fff;
	border: 1px solid #000;
}
#module5_all article .content {
	padding: 5px 50px 0;
}
#module5_all article .content .head h4 {
	font-weight: bold;
	font-size: 14px;
	margin-top: 0;
}
#module5_all article .content .head h4 .main {
	color: #268473;
}
#module5_all article .content .head h4 i {
	margin: 0 10px;
}
#module5_all article .content .head h4 .sub {
	color: #2c88ce;
}
#module5_all article .content ul {
	padding: 0;
	margin: 0;
}
#module5_all article .content ul li {
	background-color: #bbb;
	padding: 1px 20px;
	border: 1px solid #000;
	margin: 2px 0;
	list-style-type: none;
	color: #fff;
}
#module5_all article .content ul li i {
	color: #000;
	margin: 0 10px;
}
#appendix {
	margin-bottom: 480px;
}
#a1 {
	margin-bottom: 400px;
}
#a2 {
	margin-bottom: 150px;	
}
#a3 {
	margin-bottom: 400px;		
}
#a4 .figure {
	height: 700px;
}

/*Bar */
.bar-container {
	width: 100%;
	height: 40px;
	margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
}
.bar-container .text-area {
	display: inline-block;
	width: 30%;
}
.bar-container.all-csf {
	height: 70px;
	font-size: 25px;
}
.bar-container .bar-full {
	display: inline-block;
    width: 30%;
    background: linear-gradient(to bottom, rgb(144, 34, 34) 0%, rgba(10,4,4,1) 100%);
    height: 100%;
    color: #fff;
    position: relative;
    line-height: 2;
    vertical-align: middle;
}
.bar-container.all-csf .bar-full {
    line-height: 2.5;
}
.bar-container .bar-full .current {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: linear-gradient(to bottom, rgba(42,178,199,1) 0%, rgba(36,93,102,1) 100%);
	border-right: 1px solid #fff;
    padding-left: 20px;
}
.bar-container .bar-full .gap {
	position: absolute;
	right: 20px;
}
.info-of-graph {
	display: inline-block;
	margin: 20px 20px 20px 30%;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	width: 60%;
	position: relative;
}
.info-of-graph .current, .info-of-graph .gap, .info-of-graph .desired {
    padding: 10px 5px;
    width: 30%;
    text-align: center;
    height: 70px;
    display: inline-block;
    float: left;
    border-right: 1px solid #fff;
}
.info-of-graph .current::after, .info-of-graph .gap::after, .info-of-graph .desired::after {
    content: '';
    width: 0;
    position: absolute;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: 100%;
}
.info-of-graph .current::after {
	border-top: 20px solid #2a89c1;
    left: 21%;
}
.info-of-graph .gap::after {
	border-top: 20px solid #ad2222;
	left: 42%;
}
.info-of-graph .desired::after {
	border-top: 20px solid #000000;
	left: 65%;
}
.info-of-graph .current {
	background-color: #2a89c1;
}
.info-of-graph .gap {
	background-color: #ad2222;
    padding-top: 25px;
}
.info-of-graph .desired {
	background-color: #000000;
}
#a5 .cairs_table, #a5 .cairs_table td {
	border: 1px solid #000;
}
#a5 .cairs_table {
	border-collapse: collapse;
	margin-bottom: 80px;
}
#a5 .cairs_table thead td {
	font-weight: bold;
}
#a5 .cairs_table td {
	padding: 15px;
	text-align: center;
}