/*Body Section*/
body {
    padding: 0;
    background-color: #F7F7F7;
}
/*Header Section*/
header {
    background-color: white;
    box-shadow: 0px 2px 10px 1px rgba(125,125,125,0.5);
}
.box-shadow-styling {
    background-color: white;
    margin-top: 20px;
    box-shadow: 0px 2px 10px 1px rgba(125,125,125,0.5);
    padding-top: 10px;
}
.btn-info {
    background-color: #2C88CE;
    border-color: #1072bd;
}
#header_user_bar {
    height: 50px;
}
.Editor-container {
    margin-left: 13%;
    width: 200px;
}
.Editor-editor {
    height: 120px;
}
#header_user_bar .wrapper{
    padding: 5px 20px;
    line-height: 3;
}
#header_user_bar .wrapper i {
    margin-left: 5px;
}
 #header_menu_bar {
     border-top: 1px solid rgba(125,125,125,0.5);
     height: 54px;
     padding-top: 10px;
 }
 #core_functions_wrapper li {
     text-align: center;
     overflow: hidden;
     padding: 0px;
 }
#core_functions_wrapper li .image_container  {
    height: 200px;
    background-image: url('../images/core_fnc_bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
#core_functions_wrapper li .caption {
    position: absolute;
    color: white;
    cursor: pointer;
    height: 200px;
    bottom: -200px;
    transition: all 0.3s linear;
    background-color: rgba(0, 0, 0, 0.8);
}
#core_functions_wrapper li  .caption button {
    margin-top: 30px;
}
#core_functions_wrapper li:hover .caption {
    /*height: 200px;*/
    bottom: 0px;
}
/*Bootstrap Overriding*/
.nav>li>a {
    padding: 10px 9px;
}
.nav-tabs>li>a {
    color: #565354;
    border: 1px solid transparent;
}
.nav-tabs .active {
    border-bottom: 2px solid #E53333;
}
.nav-tabs>li.active>a {
    color: #E53333;
    border: 1px solid transparent;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid transparent;
    color: #E53333;
}
.nav-tabs>li.active>a:hover {
    color: #E53333;
    background-color: white;
    font-weight: bold;
}
main {
    background-color: #F7F7F7;
    margin-top: 10px;
}
.outerbox {
    background-color: #FAFAFA;
    border: 1px #e4e4e4 solid;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 6px #ccc;
}
.innerbox {
    background-color: #FFFFFF;
    border: 1px #e4e4e4 solid;
    box-shadow: 0 0 6px #ccc;
    border-radius: 4px;
    padding: 0px;
}
.innerbox .col-md-9 {
    font-size: 16px;
}
.innerbox .col-md-3 {
    padding: 0px;
}
#add_assessments {
    padding: 5px 20px;
}
.search {
    background: url('../images/search_icon.png') no-repeat 98% 3px transparent !important;
    line-height: 1.5;
    border: 1px solid #d2d2d2;
    padding: 3px 12px;
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap{
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer{
    background-color:#171c1d;
    height: 60px;
}
footer p{
    color: #878a8c;
}
footer a{
    color: #e8e9ec;
}
.list-group-item-success{
    background-color: transparent;
}
.list-group-item-success:hover{
    background-color: #eaeaea;
}
#sideMenu a{
    color: #231f20;
    border-radius: 0;
}
#sideMenu > .list-group > a{
    font-weight: bold;
}
#sideMenu .panel {
    border: none;
}
.modal-body .model_line {
    margin-bottom: 10px;
}
.modal-body .model_line label{
    font-size: 14px;
    font-weight: 100;
}
.list-group > div > a{
    background-color: #eee;
}
#sideMenu,.box{
    -webkit-box-shadow: 2px 3px 5px 0px rgba(236,236,236,1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(236,236,236,1);
    box-shadow: 2px 3px 5px 0px rgba(236,236,236,1);
    background-color: #fff;
}
#asssessment_pricing_list {
    margin-top: 20px;
    margin-bottom: 50px;
}
#asssessment_pricing_list .icon i{
    cursor: pointer;
    transition: all 0.3s linear;
}
#asssessment_pricing_list .icon i:hover {
    color: red;
}
footer{
    padding: 20px 0 15px;
}
/* add on and services styles */
#add-ons .innerbox{
    margin:25px 0;
}

.service-img{
    border:1px solid #ccc;
}
.spacer{
    margin:10px 0;
}
span.price:before{
    content:'$';
}
.modal-body label:after{
    content: ':';
}
h1{
    font-size: 0;
    margin:0 0 10px;
}
.scrollable{
    overflow-y:scroll;
    height: 300px;
    margin: 0;
    padding: 0; 
}
.scrollable li{
    float: left;
}
