/*Body Section*/

body {
    padding: 0;
    background-color: #F7F7F7;
    font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto-regular/Roboto-Regular.eot');
    src: url('../fonts/roboto-regular/Roboto-Regular.woff') format('woff'), url('../fonts/roboto-regular/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto-regular/Roboto-Regular.svg#Roboto-Regular') format('svg'), url('../fonts/roboto-regular/Roboto-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/roboto-medium/Roboto-Medium.eot');
    src: url('../fonts/roboto-medium/Roboto-Medium.woff') format('woff'), url('../fonts/roboto-medium/Roboto-Medium.ttf') format('truetype'), url('../fonts/roboto-medium/Roboto-Medium.svg#Roboto-Medium') format('svg'), url('../fonts/roboto-medium/Roboto-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/roboto-bold/Roboto-Bold.eot');
    src: url('../fonts/roboto-bold/Roboto-Bold.woff') format('woff'), url('../fonts/roboto-bold/Roboto-Bold.ttf') format('truetype'), url('../fonts/roboto-bold/Roboto-Bold.svg#Roboto-Bold') format('svg'), url('../fonts/roboto-bold/Roboto-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*Header Section*/

header {
    background-color: white;
    box-shadow: 0px 2px 10px 1px rgba(125, 125, 125, 0.5);
}
.navbar {
    padding-right: 0;
}

/*.nav{
    float: right;
}*/

.box-shadow-styling {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 10px 1px rgba(125, 125, 125, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
}
.box-shadow-styling-light {
    box-shadow: 0px 1px 4px 0px rgba(125, 125, 125, 0.5);
    margin: 5px 0px;
    padding: 0;
}
.border-unique-styling {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.grey_color {
    color: rgba(80, 89, 80, 0.8);
}
.dropdown_select {
    background: white;
    padding: 5px 25px 5px 5px;
    cursor: pointer;
    appearance:none;
   -moz-appearance:none; /* Firefox */
   -webkit-appearance:none; /* Safari and Chrome */
    background-image: url('../images/arrow_down.png');
    background-position: right 5px center;;
    background-size: 13px 13px;
    background-repeat: no-repeat;
}
.btn-info {
    background-color: #2C88CE;
    border-color: #1072bd;
}
#view_report input {
    margin-right: 5px;
}
#individual {
    text-indent: 20px;
}
#individual .in {
    height: 180px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}
#addAssessmentSubmitTable {
    font-size: 13px;
}
#header_user_bar {
    padding: 10px 5px;
}
#header_user_bar a{
    color: black;
    transition: all 0.2s linear;
}
#header_user_bar a:hover {
    text-decoration: none;
    color: #00B0F6;
}
#header_user_bar .profile_pic {
    margin-top: -10px;
    cursor: pointer;
}
#header_user_bar .profile_pic img {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
}
#header_user_bar .profile_pic_hover {
    position: absolute;
    width: 200px;
    top: 60px;
    z-index: 1;
    right: 100px;
}
#header_user_bar .profile_pic_hover li:hover {
    cursor: pointer;
}
#header_menu_bar i, #header_user_bar i {
    transition: all 0.2s linear;
    cursor: pointer;
}
#header_user_bar i:hover, #header_menu_bar i:hover {
    color: #00B0F6;
}
.displayNone {
    display: none;
}
#addAssessmentPopup .Editor-container {
    margin-left: 24%;
    width: 30%;
}
.Editor-container {
    margin-left: 33%;
    width: 50%;
}
.Editor-editor {
    height: 120px;
}
#header_user_bar .wrapper {
    padding: 5px 20px;
    line-height: 3;
}
#header_user_bar .wrapper i {
    margin-left: 5px;
}
#header_menu_bar {
    border-top: 1px solid rgba(125, 125, 125, 0.5);
    padding-top: 10px;
}
#core_functions_wrapper li {
    text-align: center;
    overflow: hidden;
    padding: 0px;
    height: 230px;
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
}
#core_functions_wrapper li a {
    padding: 60px 171px 155px 171px;
}
#core_functions_wrapper li .caption {
    position: absolute;
    color: white;
    cursor: pointer;
    height: 190px;
    bottom: -190px;
    transition: all 0.3s linear;
    background-color: rgba(0, 0, 0, 0.8);
    font: 13px 'Roboto-Regular';
    text-align: center;
    padding-top: 20px;
}
#core_functions_wrapper li .caption button {
    margin-top: 30px;
}
#core_functions_wrapper li:hover .caption {
    /*height: 200px;*/
    bottom: 0px;
}

/*Bootstrap Overriding*/

.container {
    font-family: 'Roboto-Regular';
    font-size: 13px;
}
.nav-tabs {
    border: 0;
}
.padding0 {
    padding: 0px;
}
#header_nav_tabs {
    font-size: 13px;
}
#header_user_bar i {
    margin-top: 10px;
}
#header_nav_tabs .badge, #header_user_bar .badge {
    margin-top: -50px;
    background-color: #EF4E4E;
    height: 20px;
    width: 20px;
    padding: 3px 5px;
}
.navbar {
    margin-bottom: 0;
    padding-top: 20px;
}
.nav>li>a {
    padding: 17px 9px 15px;
    font-family: 'Roboto-Regular';
}
.nav>li {
    border-bottom: 3px solid transparent;
    margin-bottom: -3px;
}
.nav-tabs>li>a {
    color: #565354;
    border: 1px solid transparent;
}
.nav-tabs .active {
    border-bottom: 3px solid #E53333;
}
.nav-tabs>li.active>a {
    color: #E53333;
    border: 1px solid transparent;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid transparent;
    color: #E53333;
}
.nav-tabs>li.active>a:hover {
    color: #E53333;
    background-color: white;
    font-weight: bold;
}
.outerbox{
    background-color: #FAFAFA;
    border: 1px #e4e4e4 solid;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 0 6px #ccc;
    margin: 20px 0;
}
.innerbox .section_search_assessment a {
    font-size: 13px;
}
.innerbox {
    background-color: #FFFFFF;
    border: 1px #e4e4e4 solid;
    box-shadow: 0 0 6px #ccc;
    border-radius: 4px;
    padding: 0px;
}
.innerbox .col-md-9 {
    font-size: 16px;
}
.innerbox .col-md-3 {
    padding: 0px;
}
#add_assessments {
    padding: 5px 20px;
}
.finance_innerbox .finance_accounting {
    font-size: 20px;
    padding: 10px 20px;
}
.finance_innerbox {
    background-color: #FFFFFF;
    border: 1px #e4e4e4 solid;
    box-shadow: 0 0 6px #ccc;
    border-radius: 4px;
    margin: 20px 0px;
}
.CFS_container {
    background-color: #FFFFFF;
    border: 1px #e4e4e4 solid;
    box-shadow: 0 0 6px #ccc;
    margin: 0px -15px;
    height: 55px;
    padding-top: 8px;
    padding-left: 15px;
}
.CSF_inner_container {
    background-color: #FFFFFF;
    border: 1px #e4e4e4 solid;
    box-shadow: 0 0 1px #fff;
    border-radius: 4px;
    margin: 20px 0px;
}
.CSF_inner_container>.row>.col-md-3>.search {
    width: 100%;
}
.CSF_inner_container>.row>.col-md-3>#sideMenu {
    margin: 0 0 0 24px;
    width: 263px;
}
#sideMenu>div>a>span {
    float: right;
    color: #656565;
}
#sideMenu>div a input[type=checkbox] {
    margin-right: 10px;
}
.finance_innerbox .col-md-4 {
    margin: 6px 20px;
    border: 1px #e4e4e4 solid;
    box-shadow: 0 0 8px #ccc;
    border-radius: 4px;
}
.finance_innerbox .col-md-6 textarea {
    width: 100%;
}
.finance_innerbox .col-md-6 #update_button {
    float: right;
    margin-top: 20px;
    padding: 10px 30px;
    display: none;
}
.finance_innerbox .finance_accounting img {
    float: right;
    height: 40px;
    cursor: pointer;
}
.finance_innerbox .finance_accounting img:hover {
    background-color: gainsboro;
}
.tab_box {
    background-color: #FFFFFF;
    border: 1px #e4e4e4 solid;
    box-shadow: 0 0 6px #ccc;
    border-radius: 4px;
    margin: 0px;
}
.tab_box h4 {
    padding: 10px 20px;
}
.finance_innerbox>.col-md-6>textarea {
    border: none;
    background-color: #fff;
}
.tab_box>.navbar>.nav-tabs {
    border-bottom: 2px solid #09A6D0;
}
#tab_header .active {
    border-bottom: 1px solid transparent;
}
#tab_header .active a {
    background-color: #09A6D0;
    color: #fff;
}
.button_CSF {
    float: right;
    margin-bottom: 30px;
    margin-top: 15px;
}
.button_CSF button {
    padding: 4px 20px;
    margin-right: 30px;
}
.table_style {
    height: 500px;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
}
.table_style tr, .table_style th {
    height: 50px;
}
th {
    background-color: #EAEAEA;
    color: #707070;
}

/*td {
    width: 10%;
}*/

.tab_box table {
    width: 1500px;
}
.table_container {
    height: 810px;
    overflow-x: scroll;
}
.search {
    background: url('../images/search_icon.png') no-repeat 98% 3px transparent !important;
    line-height: 1.4;
    border: 1px solid #d2d2d2;
    padding: 3px 12px;
    margin-left: 25px;
    font-size: 13px;
}
.btn-sm {
    line-height: 1.2;
}
h4 {
    font: 16px 'Roboto-Medium';
}
#sideMenu a {
    font: 14px 'Roboto-Medium';
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.form-element {
    display: block;
    margin-bottom: 15px;
}
.form-element label, #login label ,.form-content label{
    color: #666464;
    width: 50%;
    text-align: right;
    padding-right: 26px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 14px;
}
.form-element input, .form-element>div, .form-element select {
    width: 50%;
    float: right;
    height: 30px;
}
.form-element select option:first-child{
    color:#888;
}
.form-element .star_rating_div {
    width: 110px;
    background-color: #EAEAEA;
    border-radius: 17px;
    padding-top: 4px;
    padding-left: 1px;
}
.form-element>.btn-group>button {
    width: 100%;
    border-radius: 0px;
    text-align: left;
}
.form-element>.btn-group>button i {
    float: right;
    margin-top: 4px;
}
.form-element>.btn-group>#select_industry, .form-element>.btn-group>#size_CSF{
    color: #D7D6D6;
}
.form-element>.btn-group>.dropdown-menu{
    width: 223px !important;
}
.modal-body .row>.col-md-6> a {
    display: block;
    margin-bottom: 21px;
}
.modal-body .row>.col-md-6> a> span i {
    padding-top: 8px;
}
.add_CSF_button {
    margin-bottom: 10px;
    text-align: center;
}
.add_CSF_button button {
    width: 110px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.clear-rating.clear-rating-active, .rating-container .caption {
    display: none;
}
.rating-xs {
    font-size: 1.2em;
}
#CSF_Description {
    height: 80px;
}
.tab_box>nav>ul>li {
    width: 220px;
    text-align: center;
}
#no_display {
    height: 500px;
}

/* Sticky footer styles
-------------------------------------------------- */

html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -51px;
    /* Pad bottom by footer height */
    padding: 0 0 51px;
}

/* Set the fixed height of the footer here */

footer {
    background-color: #171c1d;
    height: 60px;
    margin: 10px 0 0 0 !important;
}
footer .container {
    padding-top: 10px;
}
footer p {
    color: #878a8c;
}
footer a {
    color: #e8e9ec;
}
.thumbnail {
    border-radius: 2px;
}
.list-group-item {
    padding: 14px;
}
.list-group-item-success {
    background-color: transparent;
}
.list-group-item-success:hover {
    background-color: #eaeaea;
}
#sub_sidebar_assessment> a {
    font-size: 13px;
    padding-left: 40px;
    background-color: #fff;
}

/*#sideMenu .list-group div a {

}*/

#sideMenu>.list-group>div>a {
    font-size: 13px;
    padding-left: 25px;
}
#core_functions>a {
    font-size: 13px;
    padding-left: 55px;
    background-color: #f5f5f5;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
}
#sideMenu {
    margin: 20px;
}
#sideMenu a {
    color: rgba(16, 16, 16, 0.72);
    border-radius: 0;
}
#sideMenu > .list-group > a {
    /*font-weight: bold;*/
}
#sideMenu .panel {
    border: none;
}
.modal-footer {
    text-align: center;
}
.modal-body .model_line {
    margin-bottom: 10px;
}
.modal-body .model_line label {
    font-size: 14px;
    font-weight: 100;
}
.list-group > div > a {
    background-color: #eee;
}
#assessment > a {
    background-color: #fff;
}
#sideMenu, .box {
    -webkit-box-shadow: 2px 3px 5px 0px rgba(236, 236, 236, 1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(236, 236, 236, 1);
    box-shadow: 2px 3px 5px 0px rgba(236, 236, 236, 1);
    background-color: #fff;
}
#assessment_pricing_list {
    margin-top: 20px;
    margin-bottom: 50px;
}
#assessment_pricing_list .icon i {
    cursor: pointer;
    transition: all 0.3s linear;
}
#assessment_pricing_list .icon i:hover {
    color: red;
}
a>i {
    float: right;
    margin-top: -5px;
}
#sideMenu>div>a>img, #arrow_down_fuctional, #arrow_down_corefunction {
    width: 18px;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
div#sideMenu .list-group-item:not(.collapsed) img {
    transform: rotate(180deg);
}
footer {
    padding: 20px 0 15px;
}

/* add on and services styles */

#add-ons .innerbox {
    margin: 25px 0;
}
#addOnPopup .Editor-container {
    margin-left: 41%;
}
.service-img {
    border: 1px solid #ccc;
}
.spacer {
    margin: 10px 0;
    padding: 10px 0px 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
span.price:before {
    content: '$';
}
.modal-body label:after,.form-content .row label:after {
    content: ':';
}
h1 {
    font-size: 0;
    margin: 10px 0 0;
}
.scrollable {
    overflow-y: scroll;
    height: 300px;
    margin: 0;
    padding: 0;
}
.scrollable li {
    float: left;
}

/*Promo codes page*/

#create_promo_code_form h5 {
    color: rgba(0, 0, 0, 0.7);
    ;
}
#create_promo_code_form i {
    margin-right: 5px;
}
#create_promo_code_form .fa-circle-thin {
    color: rgba(128, 128, 128, 0.8);
    ;
}
#create_promo_code_form input {
    width: 60%;
}
#create_promo_code_form .calender {
    width: 100%;
    background-size: 20px 20px;
    background-position: right top;
    background-image: url('../images/calender_icon.png');
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
#create_promo_code_form input[type="radio"] {
    display: none;
}
#create_promo_code_form input[type="radio"] + label .fa-check-circle {
    display: none;
}
#create_promo_code_form input[type="radio"]:checked + label .fa-check-circle {
    display: block;
    color: #09A6D0;
}
#create_promo_code_form input[type="radio"]:checked + label .fa-circle-thin {
    display: none;
}
#create_promo_code_form .number_field:focus {
    border-color: #09A6D0;
}
.promo_type_discount {
    margin-bottom: 15px;
    left: 25%;
}
#assessment_pricing_list li {
    padding: 15px 20px;
}
.modal-dialog {
    width: 74%;
}
.modal-header {
    border: none;
}

/*.rating {
    display: inline-block;
    height: 22px;
    background-color: #F1F1F1;
    width: 100px;
    border-radius: 10px;
}
.rating div {
    padding-left: 11px;
}*/


/*Manage Home Page*/

#manage-home .add_new_testimonial_header {
    width: 90%;
}
#manage-home h5 {
    padding: 10px 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
#manage_history_list b {
    display: block;
}
#manage_history_list .header {
    margin-bottom: 10px;
}
#manage_history_list .header img {
    margin: 0px 5px;
}
#add_new_testimonial_form {
    margin-bottom: 20px;
}
#add_new_testimonial_form .form_line {
    margin-top: 15px;
}
#add_new_testimonial_form label {
    font-weight: 100;
}
#updates_list .edit_icon {
    margin-top: 40px;
}
#updates_list span {}
#updates_list .posted_time {
    margin-top: 40px;
    font-family: 'Roboto-Regular';
}
#createNewUpdate .calender {
    background-size: 20px 20px;
    background-position: right top;
    background-image: url('../images/calender_icon.png');
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/*Sales Report Page*/

#sales_report_graph .graph_header h4, #view_report h4 {
    font-size: 13px;
    line-height: 2;
    font-weight: bold;
}
#sales_report_graph .graph_header i {
    margin: 5px 8px;
    font-size: 16px;
}
#sales_report_graph .graph_header {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
#view_report h4, #view_report .list-group {
    margin: 0;
    width: 114%;
}
#viewCSF .modal-body, #login .navbar {
    padding: 0;
}
#viewCSF .modal-footer {
    border-top: 0;
}
#viewCSF .modal-content {
    border-radius: 0;
}
#viewCSF button {
    margin-bottom: 20px;
}
#sales_report_details .list-group-item {
    margin: 10px 0px;
}
#sales_reports_details .user_details span {
    line-height: 1.5;
}

/* Login screen */

.login {
    background: url('../images/login_bg.png') no-repeat 100% 100%;
    background-size: 100% 100%;
}
.error_span_email, .error_span_pass, .error_span_cmp_id, .error_span_email_reg, .error_span_conditions_agree {
    color: rgb(200, 35, 35);
    display: block;
    padding-left: 31%;
    margin: -10px 0 10px;
}
#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 620px;
    background-color: #fff;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    padding: 0;
}
#login #tab_header .active a {
    background-color: #2c88ce;
}
#login.tab_box>.navbar>.nav-tabs {
    border-color: #2c88ce;
}
#login.tab_box>nav>ul>li {
    width: 100px;
}
#login .navbar, #login .spacer {
    border: 0;
}
.form-content {
    float: left;
    width: 100%;
    padding: 20px 0;
}
#login .form-content label,.form-content label {
    width: 30%;
}
.form-content input[type="text"], .form-content input[type="password"] {
    width: 60%;
    border: 2px solid #dedede;
    padding: 2px;
}
.remember-txt {
    padding: 10px 49px 0 57px;
}
.remember-txt a {
    color: #f45757;
}
#login button,#saveBtn{
    min-width: 145px;
    font: 14px 'Roboto-Medium';
}
.option span {
    display: inline-block;
}
#login .form-content .option label {
    width: auto;
    margin-bottom: 0;
    margin-left: 10px;
    line-height: 16px;
}
footer.footer {
    border-top: 0;
}
/*Executive Sponsor Finance & Accounting Page 6*/

#es_finance_accounting ul li {
    line-height: 1.5;
    margin-bottom: 10px;
}
/* ES - challenge mapper */

.challenge_box {
   background-color: #FAFAFA;
   border: 1px #e4e4e4 solid;
   padding: 5px;
   border-radius: 1px;
   box-shadow: 0 0 6px #ccc;
   margin: 20px 0;
}
.challenge_box>span {
    font-size: 20px;
    padding-left: 12px;
}
.challenge_second_left {
    padding: 15px;
}
.challenge_second_left div {
    text-align: center;
    padding-top: 10px;
}
.challenge_second_left .watch_video,.challenge_second_right .challenge_second_rightheading {
    font-weight: bold;
    font-size: 15px;
}
.challenge_second_rightheading {
    padding-bottom: 30px;
}
.challenge_second_right {
    padding-left: 0px;
}
.challenge_second_rightbox {
    background-color: #FAFAFA;
    border: 1px #e4e4e4 solid;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 0 6px #ccc;
    margin: 20px 10px 20px 0;
}
.challenge_second_rightbox>.challenge1 label, .challenge_second_rightbox>.challenge2 label{
    color: #4F4C4D;
    font-size: 15px;
}
.challenge_second_rightbox>.challenge1 input, .challenge_second_rightbox>.challenge2 input{
    width: 80%;
    height: 70px;
    margin-left: 10px;
}
.challenge_second_rightbox>.add_more_challenges {
    padding-top: 20px;
    color: #FF5420;
    font-size: 14px;
    padding-bottom: 20px;
}
.challenge_second_rightbox button {
    padding: 5px 20px;
    margin: 10px auto;
    display: table;
}
.recommended_assessments {
    text-align: center;
}
.recommended_assessments p {
    color: #797777;
    font-size: 14px;
    padding-top: 15px;
}
.challenge_box>.navbar>ul {
    border-bottom: 2px solid #09A6D0;
}
.challenge_box>.navbar>ul li{
    font-size: 16px;
    width: 275px;
}
.challenge_box>.navbar>ul li a {
    padding-left: 59px;
    padding-right: 60px;
}
#analysis>#core_functions_wrapper li {
    width: 200px;   
}

/* ES - create profile */
#profile{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.create-profile{
    background-color: #fff;
    border:1px solid  #ddd;
    padding: 20px 2%;
    margin: 30px 0;
}
.create-profile .form-content label{
    width: 35%;
}
.create-profile .form-content input[type="text"],.create-profile  .form-content input[type="password"],.create-profile .btn-group{
    width: 50%;
    margin-bottom: 15px;
}
.create-profile .btn-group button{
    width: 100%;
}
#saveBtn{
    margin-top: 20px;
}
#profile{
    padding: 20px 0;
}
#profile .form-element input,#profile .form-element>div{
    float: none;
}
