/*Body Section*/

body {
    padding: 0;
    background-color: #F7F7F7;
    font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto-regular/Roboto-Regular.eot');
    src: url('../fonts/roboto-regular/Roboto-Regular.woff') format('woff'), url('../fonts/roboto-regular/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto-regular/Roboto-Regular.svg#Roboto-Regular') format('svg'), url('../fonts/roboto-regular/Roboto-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/roboto-medium/Roboto-Medium.eot');
    src: url('../fonts/roboto-medium/Roboto-Medium.woff') format('woff'), url('../fonts/roboto-medium/Roboto-Medium.ttf') format('truetype'), url('../fonts/roboto-medium/Roboto-Medium.svg#Roboto-Medium') format('svg'), url('../fonts/roboto-medium/Roboto-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/roboto-bold/Roboto-Bold.eot');
    src: url('../fonts/roboto-bold/Roboto-Bold.woff') format('woff'), url('../fonts/roboto-bold/Roboto-Bold.ttf') format('truetype'), url('../fonts/roboto-bold/Roboto-Bold.svg#Roboto-Bold') format('svg'), url('../fonts/roboto-bold/Roboto-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*Header Section*/

header {
    background-color: white;
    box-shadow: 0px 2px 10px 1px rgba(125, 125, 125, 0.5);
}
.navbar {
    padding-right: 0;
}

/*.nav{
    float: right;
}*/

.box-shadow-styling {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 10px 1px rgba(125, 125, 125, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
}
.box-shadow-styling-light {
    box-shadow: 0px 1px 4px 0px rgba(125, 125, 125, 0.5);
    margin: 5px 0px;
    padding: 0;
    background-color: #fff;
}
.border-unique-styling {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.maroon_color {
    color: #6B2B2C;
}
.grey_color {
    color: rgba(80, 89, 80, 0.8);
}
.dropdown_select {
    background: white;
    padding: 5px 25px 5px 5px;
    border: 2px solid #ddd;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    background-image: url('../images/arrow_down.png');
    background-position: right 5px center;
    ;
    background-size: 13px 13px;
    background-repeat: no-repeat;
}
.btn-info {
    background-color: #2C88CE;
    border-color: #1072bd;
}
#view_report input {
    margin-right: 5px;
}
#individual {
    text-indent: 20px;
}
#individual .in {
    height: 180px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}
#addAssessmentSubmitTable {
    font-size: 13px;
}
#header_user_bar {
    padding: 10px 5px;
}
#header_user_bar a {
    color: black;
    transition: all 0.2s linear;
}
#header_user_bar a:hover {
    text-decoration: none;
    color: #00B0F6;
}
#header_user_bar .profile_pic {
    margin-top: -10px;
    cursor: pointer;
}
#header_user_bar .profile_pic img {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
}
#header_user_bar .profile_pic_hover {
    position: absolute;
    width: 200px;
    top: 60px;
    z-index: 1;
    right: 100px;
}
#header_user_bar .profile_pic_hover li:hover {
    cursor: pointer;
}
#header_menu_bar i, #header_user_bar i {
    transition: all 0.2s linear;
    cursor: pointer;
}
#header_user_bar i:hover, #header_menu_bar i:hover {
    color: #00B0F6;
}
.displayNone {
    display: none;
}
#addAssessmentPopup .Editor-container {
    margin-left: 24%;
    width: 30%;
}
.Editor-container {
    margin-left: 33%;
    width: 50%;
}
.Editor-editor {
    height: 120px;
}
#header_user_bar .wrapper {
    padding: 5px 20px;
    line-height: 3;
}
#header_user_bar .wrapper i {
    margin-left: 5px;
}
#header_menu_bar {
    border-top: 1px solid rgba(125, 125, 125, 0.5);
    padding-top: 10px;
}
#core_functions_wrapper>li {
    margin: 30px 38px 20px 10px;
    text-align: center;
    overflow: hidden;
    padding: 0px;
    height: 230px;
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
}
#core_functions_wrapper li a {
    padding: 60px 171px 155px 171px;
}
#core_functions_wrapper li .caption {
    position: absolute;
    color: white;
    cursor: pointer;
    height: 190px;
    bottom: -190px;
    transition: all 0.3s linear;
    background-color: rgba(0, 0, 0, 0.8);
    font: 13px 'Roboto-Regular';
    text-align: center;
    padding-top: 20px;
}
#core_functions_wrapper li .caption button {
    margin-top: 20px;
}
#core_functions_wrapper li:hover .caption {
    bottom: 0px;
    padding-left: 0;
    padding-right: 0;
}

.core_functions_wrapper li {
    margin: 30px 38px 20px 10px;
    width: 230px;
    text-align: center;
    overflow: hidden;
    padding: 0px;
    height: 230px;
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 30%, rgb(215, 215, 215) 60%, rgb(116, 116, 116) 80%, rgb(35, 35, 35) 100%);
}
.core_functions_wrapper li a {
    padding: 60px 171px 155px 171px;
}
.core_functions_wrapper li .caption {
    position: absolute;
    color: white;
    cursor: pointer;
    height: 190px;
    bottom: -190px;
    transition: all 0.3s linear;
    background-color: rgba(0, 0, 0, 0.8);
    font: 13px 'Roboto-Regular';
    text-align: center;
    padding-top: 20px;
}
.core_functions_wrapper li .caption button {
    margin-top: 20px;
}
.core_functions_wrapper li:hover .caption {
    /*height: 200px;*/
    bottom: 0px;
}

/*Bootstrap Overriding*/

.container {
    font-family: 'Roboto-Regular';
    font-size: 13px;
}
.nav-tabs {
    border: 0;
}
.padding0 {
    padding: 0;
}
.paddingRight0 {
    padding-right: 0;
}
.padding10 {
    padding: 10px;
}
.padding30 {
    padding: 30px;
}
.marginTop5 {
    margin-top: 5px;
}
.marginTop-27 {
    margin-top: -27px;
}
.margin0 {
    margin: 0;
}
.margin10 {
    margin: 10px;
}
.marginBottom0 {
    margin-bottom: 5px;
}
.marginTop10 {
    margin-top: 10px;
}
.marginTop20 {
    margin-top: 20px;
}
.marginTop0 {
    margin-top: 0;
}
.margin-top-25 {
    margin-top: -25px;
}
.displayInline {
    display: inline-block;
}
.opacity_light {
    opacity: 0.6;
}
.bg_transparent {
    background-color: transparent;
}
.borderRight {
    border-right: 1px solid #EAEAEA;
}
#header_nav_tabs {
    font-size: 13px;
}
#header_user_bar i {
    margin-top: 10px;
}
#header_user_bar .profile_pic_hover li {
    background: #FFF;
    transition: all 0.2s linear;
}
#header_user_bar .profile_pic_hover li:hover {
    background-color: #DDD;
}
#header_nav_tabs .badge, #header_user_bar .badge {
    margin-top: -45px;
    background-color: #EF4E4E;
    height: 20px;
    width: 20px;
    margin-left: -10px;
    padding: 4px 3px;
}
.navbar {
    margin-bottom: 0;
    padding-top: 20px;
}
.nav>li>a {
    padding: 17px 9px 15px;
    font-family: 'Roboto-Regular';
}
.nav>li {
    border-bottom: 3px solid transparent;
    margin-bottom: -3px;
}
.nav-tabs>li>a {
    color: #565354;
    border: 1px solid transparent;
}
.nav-tabs .active {
    border-bottom: 3px solid #E53333;
}
.nav-tabs>li.active>a {
    color: #E53333;
    border: 1px solid transparent;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid transparent;
    color: #E53333;
}
.nav-tabs>li.active>a:hover {
    color: #E53333;
    background-color: white;
    font-weight: bold;
}
.outerbox {
    background-color: #FAFAFA;
    border: 1px #e4e4e4 solid;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 0 6px #ccc;
    margin: 20px 0;
}
.innerbox .section_search_assessment a {
    font-size: 13px;
}
.innerbox {
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 0px;
}
.innerbox .col-md-9 {
    font-size: 16px;
}
.innerbox .col-md-3 {
    padding: 0px;
}
#add_assessments {
    padding: 5px 20px;
}
.finance_innerbox .finance_accounting {
    font-size: 20px;
    padding: 10px 20px;
}
.finance_innerbox {
    background-color: #FFFFFF;
    border: 1px #e4e4e4 solid;
    box-shadow: 0 0 6px #ccc;
    border-radius: 4px;
    margin: 20px 0px;
}
.CFS_container {
    background-color: #FFFFFF;
    border: 1px #e4e4e4 solid;
    box-shadow: 0 0 6px #ccc;
    margin: 0px -15px;
    height: 55px;
    padding-top: 8px;
    padding-left: 15px;
}
.CSF_inner_container {
    background-color: #FFFFFF;
    border: 1px #e4e4e4 solid;
    box-shadow: 0 0 1px #fff;
    border-radius: 4px;
    margin: 20px 0px;
}
.CSF_inner_container>.row>.col-md-3>.search {
    width: 100%;
}
.CSF_inner_container>.row>.col-md-3>#sideMenu {
    margin: 0 0 0 24px;
    width: 263px;
}
#sideMenu>div>a>span {
    float: right;
    color: #656565;
}
#sideMenu>div a input[type=checkbox] {
    margin-right: 10px;
}
.finance_innerbox .col-md-4 {
    margin: 6px 20px;
    border: 1px #e4e4e4 solid;
    box-shadow: 0 0 8px #ccc;
    border-radius: 4px;
}
.finance_innerbox .col-md-6 textarea {
    width: 100%;
}
.finance_innerbox .col-md-6 #update_button {
    float: right;
    margin-top: 20px;
    padding: 10px 30px;
    display: none;
}
.finance_innerbox .finance_accounting img {
    float: right;
    height: 40px;
    cursor: pointer;
}
.finance_innerbox .finance_accounting img:hover {
    background-color: gainsboro;
}
.tab_box {
    background-color: #FFFFFF;
    border: 1px #e4e4e4 solid;
    box-shadow: 0 0 6px #ccc;
    border-radius: 4px;
    margin: 0px;
}
.tab_box h4 {
    padding: 10px 20px;
}
.finance_innerbox>.col-md-6>textarea {
    border: none;
    background-color: #fff;
}
.tab_box>.navbar>.nav-tabs {
    border-bottom: 2px solid #09A6D0;
}
#tab_header .active {
    border-bottom: 1px solid transparent;
}
#tab_header .active a {
    background-color: #09A6D0;
    color: #fff;
}
.button_CSF {
    float: right;
    margin-bottom: 30px;
    margin-top: 15px;
}
.button_CSF button {
    padding: 4px 20px;
    margin-right: 30px;
}
.table_style {
    height: 500px;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
}
.table_style tr, .table_style th {
    height: 50px;
}
th {
    background-color: #EAEAEA;
    color: #707070;
}

/*td {
    width: 10%;
}*/

.tab_box table {
    width: 1500px;
}
.table_container {
    height: 810px;
    overflow-x: scroll;
}
.search {
    background: url('../images/search_icon.png') no-repeat 98% 3px transparent !important;
    line-height: 1.4;
    border: 1px solid #d2d2d2;
    padding: 3px 12px;
    margin-left: 25px;
    font-size: 13px;
}
.btn-sm {
    line-height: 1.2;
}
h4, .container h4 {
    font: 16px 'Roboto-Medium';
}
#sideMenu a {
    font: 14px 'Roboto-Medium';
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.form-element {
    display: block;
    margin-bottom: 15px;
}
.form-element label, #login label, .form-content label {
    color: #666464;
    width: 50%;
    text-align: right;
    padding-right: 26px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 14px;
}
.form-element input, .form-element>div, .form-element select {
    width: 50%;
    float: right;
    height: 30px;
}
.form-element select option:first-child {
    color: #888;
}
.rating {
    width: 110px;
    background-color: #EAEAEA;
    border-radius: 17px;
    padding-left: 1px;
}
.form-element>.btn-group>button {
    width: 100%;
    border-radius: 0px;
    text-align: left;
}
.form-element>.btn-group>button i {
    float: right;
    margin-top: 4px;
}
.form-element>.btn-group>#select_industry, .form-element>.btn-group>#size_CSF {
    color: #D7D6D6;
}
.form-element>.btn-group>.dropdown-menu {
    width: 223px !important;
}
.modal-body .row>.col-md-6> a {
    display: block;
    margin-bottom: 21px;
}
.modal-body .row>.col-md-6> a> span i {
    padding-top: 8px;
}
.add_CSF_button {
    margin-bottom: 10px;
    text-align: center;
}
.add_CSF_button button {
    width: 110px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.clear-rating.clear-rating-active, .rating-container .caption {
    display: none;
}
.rating-xs {
    font-size: 1.2em;
}
#CSF_Description {
    height: 80px;
}
.tab_box>nav>ul>li {
    width: 220px;
    text-align: center;
}
#no_display {
    height: 500px;
}

/* Sticky footer styles
-------------------------------------------------- */

html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -51px;
    /* Pad bottom by footer height */
    padding: 0 0 51px;
}

/* Set the fixed height of the footer here */

footer {
    background-color: #171c1d;
    height: 60px;
    margin: 10px 0 0 0 !important;
}
footer .container {
    padding-top: 10px;
}
footer p {
    color: #878a8c;
}
footer a {
    color: #e8e9ec;
}
#home_footer_container {
    margin-top: 10px;
    margin-bottom: -10px;
    color: #fff;
    background-color: #1D2122;
    padding-top: 10px;
}
#home_footer_container .icon_container {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    background-color: #3A4447;
    margin-right: 10px;
}
#home_footer_container .subcribe {
    mar
}
#home_footer_container h5 {
    font-weight: bold;
}
#home_footer_container ul li {
    list-style-type: none;
    line-height: 1.5;
}
#home_footer_container ul li a {
    color: #fff;
}
#home_footer_container ul li a:hover {
    text-decoration: none;
    color: #aaa;
}
#home_footer_container .details h5 {
    color: #69CFDA;
}
#home_footer_container .contact_us h5 {
    color: #FF7979;
}
#home_footer_container .help h5 {
    color: #DEBC69;
}
#home_footer_container .follow_us, #home_footer_container .input-group {
    padding: 15px 0px;
}
#home_footer_container .follow_us .facebook a {
    color: #395797;
}
#home_footer_container .follow_us .twitter a {
    color: #6ACFF4;
}
#home_footer_container .follow_us .google-plus a {
    color: #D13F2D;
}
.thumbnail {
    border-radius: 2px;
}
.list-group-item {
    padding: 14px;
}
.list-group-item-success {
    background-color: transparent;
}
.list-group-item-success:hover {
    background-color: #eaeaea;
}
#sub_sidebar_assessment> a {
    font-size: 13px;
    padding-left: 40px;
    background-color: #fff;
}

/*#sideMenu .list-group div a {

}*/

#sideMenu>.list-group>div>a {
    font-size: 13px;
    padding-left: 25px;
}
#core_functions>a {
    font-size: 13px;
    padding-left: 55px;
    background-color: #f5f5f5;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
}
#sideMenu {
    margin: 20px;
}
#sideMenu a {
    color: rgba(16, 16, 16, 0.72);
    border-radius: 0;
}
#sideMenu > .list-group > a {
    /*font-weight: bold;*/
}
#sideMenu .panel {
    border: none;
}
.modal-footer {
    text-align: center;
}
.modal-body .model_line {
    margin-bottom: 10px;
}
.modal-body .model_line label {
    font-size: 14px;
    font-weight: 100;
}
.list-group > div > a {
    background-color: #eee;
}
#assessment > a {
    background-color: #fff;
}
#sideMenu, .box {
    -webkit-box-shadow: 2px 3px 5px 0px rgba(236, 236, 236, 1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(236, 236, 236, 1);
    box-shadow: 2px 3px 5px 0px rgba(236, 236, 236, 1);
    background-color: #fff;
}
#assessment_pricing_list {
    margin-top: 20px;
    margin-bottom: 50px;
}
#assessment_pricing_list .icon i {
    cursor: pointer;
    transition: all 0.3s linear;
}
#assessment_pricing_list .icon i:hover {
    color: red;
}
a>i {
    float: right;
    margin-top: -5px;
}
#sideMenu>div>a>img, #arrow_down_fuctional, #arrow_down_corefunction {
    width: 18px;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
div#sideMenu .list-group-item:not(.collapsed) img {
    transition: all 0.2s linear;
    transform: rotate(180deg);
}
footer {
    padding: 20px 0 15px;
}

/* add on and services styles */

#add-ons .innerbox {
    margin: 25px 0;
}
#addOnPopup .Editor-container {
    margin-left: 41%;
}
.service-img {
    border: 1px solid #ccc;
}
.spacer {
    margin: 10px 0;
    padding: 10px 0px 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
span.price:before {
    content: '$';
}
.modal-body label:after, .form-content .row label:after {
    content: ':';
}
h1 {
    font-size: 0;
    margin: 10px 0 0;
}
.scrollable {
    overflow-y: scroll;
    height: 300px;
    margin: 0;
    padding: 0;
}
.scrollable li {
    float: left;
}

/*Promo codes page*/

#create_promo_code_form h5 {
    color: rgba(0, 0, 0, 0.7);
    ;
}
#create_promo_code_form i {
    margin-right: 5px;
}
#create_promo_code_form .fa-circle-thin {
    color: rgba(128, 128, 128, 0.8);
}
#create_promo_code_form input {
    width: 60%;
}
#create_promo_code_form .calender {
    width: 100%;
    background-size: 20px 20px;
    background-position: right top;
    background-image: url('../images/calender_icon.png');
    background-repeat: no-repeat;
}
#create_promo_code_form input[type="radio"] {
    display: none;
}
#create_promo_code_form input[type="radio"] + label .fa-check-circle {
    display: none;
}
#create_promo_code_form input[type="radio"]:checked + label .fa-check-circle {
    display: block;
    color: #09A6D0;
}
#create_promo_code_form input[type="radio"] + label:after {
    display: none;
}
#create_promo_code_form input[type="radio"]:checked + label .fa-circle-thin {
    display: none;
}
#create_promo_code_form .number_field:focus {
    border-color: #09A6D0;
}
.promo_type_discount {
    margin-bottom: 15px;
    left: 25%;
}
#assessment_pricing_list li {
    padding: 15px 20px;
}
.modal-dialog {
    width: 74%;
}
.modal-header {
    border: none;
}

/*.rating {
    display: inline-block;
    height: 22px;
    background-color: #F1F1F1;
    width: 100px;
    border-radius: 10px;
}
.rating div {
    padding-left: 11px;
}*/


/*Manage Home Page*/

#manage-home .add_new_testimonial_header {
    width: 90%;
}
#manage-home h5 {
    padding: 10px 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
#manage_history_list b {
    display: block;
}
#manage_history_list .header {
    margin-bottom: 10px;
}
#manage_history_list .header img {
    margin: 0px 5px;
}
#add_new_testimonial_form {
    margin-bottom: 20px;
}
#add_new_testimonial_form .form_line {
    margin-top: 15px;
}
#add_new_testimonial_form label {
    font-weight: 100;
}
#updates_list .edit_icon {
    margin-top: 40px;
}
#updates_list span {}
#updates_list .posted_time {
    margin-top: 40px;
    font-family: 'Roboto-Regular';
}
#createNewUpdate .calender {
    background-size: 20px 20px;
    background-position: right top;
    background-image: url('../images/calender_icon.png');
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/*Sales Report Page*/

#sales_report_graph .graph_header h4, #view_report h4 {
    font-size: 13px;
    line-height: 2;
    font-weight: bold;
}
#sales_report_graph .graph_header i {
    margin: 5px 8px;
    font-size: 16px;
}
#sales_report_graph .graph_header {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
#view_report h4, #view_report .list-group {
    margin: 0;
    width: 114%;
}
#viewCSF .modal-body, #login .navbar {
    padding: 0;
}
#viewCSF .modal-footer {
    border-top: 0;
}
#viewCSF .modal-content {
    border-radius: 0;
}
#viewCSF button {
    margin-bottom: 20px;
}
#sales_report_details .list-group-item {
    margin: 10px 0px;
}
#sales_reports_details .user_details span {
    line-height: 1.5;
}

/* Login screen */

.login {
    background: url('../images/login_bg.png') no-repeat 100% 100%;
    background-size: 100% 100%;
}
.error_span_email, .error_span_pass, .error_span_cmp_id, .error_span_email_reg, .error_span_conditions_agree {
    color: rgb(200, 35, 35);
    display: block;
    padding-left: 31%;
    margin: -10px 0 10px;
}
#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 620px;
    background-color: #fff;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    padding: 0;
}
#login #tab_header .active a {
    background-color: #2c88ce;
}
#login.tab_box>.navbar>.nav-tabs {
    border-color: #2c88ce;
}
#login.tab_box>nav>ul>li {
    width: 100px;
}
#login .navbar, #login .spacer {
    border: 0;
}
.form-content {
    float: left;
    width: 100%;
    padding: 20px 0;
}
#login .form-content label, .form-content label {
    width: 30%;
}
.form-content input[type="text"], .form-content input[type="password"], .form-content input[type="tel"] {
    width: 60%;
    border: 2px solid #dedede;
    padding: 2px;
}
.remember-txt {
    padding: 10px 49px 0 57px;
}
.remember-txt a {
    color: #f45757;
}
#login button, #saveBtn {
    min-width: 145px;
    font: 14px 'Roboto-Medium';
}
.option span {
    display: inline-block;
}
#login .form-content .option label {
    width: auto;
    margin-bottom: 0;
    margin-left: 10px;
    line-height: 16px;
}
footer.footer {
    border-top: 0;
}

/*Executive Sponsor Finance & Accounting Page 6*/

#es_finance_accounting ul li {
    line-height: 1.5;
    margin-bottom: 10px;
}
#es_finance_accounting .add_user input {
    width: 60%;
}
#es_finance_accounting .purchase_assessment .checkbox label:after {
    padding-top: 3px;
}

/* ES - challenge mapper */
.remove_field {
    padding-left: 10px;
}
.challenge_wrapper {
    height: 180px;
    overflow-y: auto;
}
.challenge_box, .cart_box {
    background-color: #FAFAFA;
    border: 1px #e4e4e4 solid;
    padding: 5px;
    border-radius: 1px;
    box-shadow: 0 0 6px #ccc;
    margin: 20px 0;
}
.challenge_box>.row>.col-md-3>span {
    font-size: 20px;
}
.challenge_second_left {
    padding: 15px;
}
.challenge_second_left div {
    text-align: center;
    padding-top: 10px;
}
.challenge_second_left .watch_video, .challenge_second_right .challenge_second_rightheading {
    font-weight: bold;
    font-size: 15px;
}
.challenge_second_rightheading {
    padding-bottom: 30px;
}
.challenge_second_right {
    padding-left: 0px;
}
.challenge_second_rightbox {
    background-color: #FAFAFA;
    border: 1px #e4e4e4 solid;
    padding: 20px 20px 0px 20px;
    border-radius: 1px;
    box-shadow: 0 0 6px #ccc;
    margin: 14px 10px 12px 0;
}
.challenge_second_rightbox>.challenge_wrapper .challenge{
    list-style-type: none;
}
.challenge_second_rightbox>.challenge_wrapper .challenge label {
    color: #4F4C4D;
    font-size: 15px;
}
.challenge_second_rightbox>.challenge_wrapper .challenge input {
    width: 68%;
    height: 70px;
    margin-left: 10px;
}
.challenge_second_rightbox>.add_more_challenges>span>.add_field_button {
    color: #FF5420;
}
.challenge_second_rightbox>.add_more_challenges>span>a {
    padding-top: 10px;
    font-size: 14px;
    padding-bottom: 20px;
}
.challenge_validation{
    color:red;
    position: absolute;
}
.challenge_second_rightbox>.challenge_wrapper{
    position: relative;
    margin-top: 21px;
}
.challenge_second_rightbox button {
    padding: 5px 20px;
    margin: 10px auto;
    display: table;
}
.recommended_assessments {
    text-align: center;
}
.recommended_assessments p {
    color: #797777;
    font-size: 14px;
    padding-top: 15px;
}
.challenge_box>.navbar>ul {
    border-bottom: 2px solid #09A6D0;
}
.challenge_box>.navbar>ul li {
    font-size: 16px;
    width: 225px;
}
.challenge_box>.navbar>ul li a {
    padding: 3px 32px 0px;
    text-align: center;
}
#analysis>#core_functions_wrapper li {
    margin: 30px 38px 20px 10px;
    width: 230px;
}

/* ES - User cart */

.cart_box {
    padding: 5px 5px 5px 0px;
}
.cart_container>.col-md-7 {
    width: 70%;
}
.cart_container>.col-md-3 {
    width: 30%;
    padding-left: 0;
    padding-right: 0;
}
.cart_container>.col-md-7>.cart_box>.cart_heading {
    font-size: 20px;
    padding: 10px 17px;
    margin-bottom: 10px;
}
.cart_container>.col-md-7>.cart_box>.cart_box {
    margin: 0px 20px 15px 17px;
}
.cart_container>.col-md-7>.cart_box>.cart_box>.col-md-3>img {
    border: 1px solid #EAEAEA;
    width: 100%;
    margin: 20px 0px 15px;
}
.cart_list {
    padding-top: 10px;
    padding-left: 25px;
}
.cart_list>.row>h4 {
    display: inline-block;
}
.cart_list>.row>span {
    font-size: 14px;
    padding-left: 30px;
}
.cart_list>.row>span>span {
    font-size: 25px;
    font-weight: bold;
    float: right;
    color: #2C88CE;
    padding-right: 20px;
}
.checkbox_addon>.col-md-12>span {
    margin: 0;
    padding-right: 0;
}
.remove_from_cart {
    margin-top: 40px;
    font-size: 14px;
    color: #E35757;
}
#es_finance_accounting .buy_now_btn {
    border: 1px solid #2C88CE;
    color: #2C88CE;
}
#standard_plan, #cart-add-ons {
    font-size: 15px;
    padding-left: 0;
    padding-top: 15px;
    text-align: center;
}
.cart_list>.row>.checkbox_addon {
    padding-left: 0;
}
.cart_list>.row>.checkbox_addon>.width0 {
    width: auto;
}
.cart_list>.row>.checkbox_addon span {
    padding-left: 0;
    border: none;
}
.cart_list>.row>.col-md-7 {
    padding-left: 0;
    padding-top: 10px;
}
.cart_list>.row>.col-md-7>input {
    height: 31px;
    padding-left: 4px;
    width: 63%;
}
.cart_list>.row>.col-md-7>div {
    font-size: 14px;
    font-weight: lighter;
    color: #666464;
    padding-bottom: 5px;
}
.cart_container>.col-md-3>.cart_box>h4 {
    border-bottom: 1px solid #D3D2D2;
    padding-bottom: 10px;
    padding-left: 24px;
}
.cart_box>h4>img {
    float: right;
    padding-right: 15px;
    cursor: pointer;
}
.cart_box>.cart_summary_list {
    color: #959494;
    font-size: 15px;
    padding: 10px 25px;
}
.cart_box>.cart_summary_list span {
    float: right;
}
.cart_container>.col-md-3>.secure_pay {
    width: 85%;
}
.cart_box> .cart_border {
    border-bottom: 1px solid #D3D2D2;
    padding-bottom: 20px;
}
.cart_box>.cart_total {
    padding: 10px 25px;
    font-size: 20px;
}
.cart_box>.cart_total span {
    float: right;
    color: #2C88CE;
}
.cart_box>.cart_promocode {
    padding: 10px 18px 10px 18px;
    text-align: center;
}
.cart_box>.cart_promocode input {
    width: 100%;
    height: 30px;
}
.cart_box>.cart_promocode button {
    padding: 5px 20px;
    margin-top: 10px;
}
input.promocode::-webkit-input-placeholder {
    font-size: 11pt;
    color: #7E7E7E;
    padding-left: 3px;
}
.cart_container>.col-md-3>button {
    margin-top: 15px;
    padding-left: 25%;
    padding-right: 25%;
    margin-left: 25px;
}
.col-md-6.details_right {
    text-align: right;
}
.cart_box>.checkout_details {
    color: #666464;
    font-size: 15px;
    padding: 10px;
}

/* ES - create profile */

#profile {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.create-profile {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px 2%;
    margin: 30px 0;
}
.create-profile .form-content label {
    width: 35%;
}
.create-profile .form-content input[type="text"], .create-profile .form-content input[type="password"], .create-profile select, .create-profile input[type='tel'] {
    width: 50%;
    height: 30px;
    float: none;
    margin-bottom: 15px;
}
.create-profile .btn-group button {
    width: 100%;
}
#saveBtn {
    margin-top: 20px;
}
#profile {
    padding: 20px 0;
}
#profile .form-element input, #profile .form-element>div {
    float: none;
}

/*User ExSpon Product Listing*/

#product_listing .header_img {
    height: 30px;
}
#product_listing .header_img img {
    position: absolute;
    right: 20px;
}
.sky_blue_color {
    color: #00B0F6;
}
#header_user_bar .contact_container i {
    font-size: 20px;
}
.span6 {
    width: 48%;
    margin-left: 4%;
}
.span3 {
    margin-left: 2%;
}
.row>.span6:first-child {
    margin-left: 0;
}
.seperator {
    width: 2px;
    height: 150px;
    background: #fcfcfc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #e6e7e8 19%, #e1e2e3 31%, #e2e4e4 73%, #e8e9ea 83%, #fcfcfc 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #e6e7e8 19%, #e1e2e3 31%, #e2e4e4 73%, #e8e9ea 83%, #fcfcfc 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcfcfc 0%, #e6e7e8 19%, #e1e2e3 31%, #e2e4e4 73%, #e8e9ea 83%, #fcfcfc 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#fcfcfc', GradientType=0);
    /* IE6-9 */
    padding-left: 0;
    padding-right: 0;
}
#choose_add_on .heading {
    margin-bottom: 15px;
}
#choose_add_on .select_btn {
    margin-right: 40px;
}

/*Subscription Status Executive Sponsor*/

.subscription_status .heading {
    font-size: 15px;
}
.subscription_status .details {
    line-height: 1.5;
    margin-top: 10px;
    font-size: 14px;
}
.subscription_status .details .checkbox label:after{
    padding-top: 0px;
    padding-right: 2px;
    padding-left: 2px;
    font-size: 12px;
}
.subscription_status .status_and_price h3 span {
    color: #2C88CE;
    font-weight: bold;
}
.subscription_status .status_and_price h5 span {
    font-size: 15px;
    font-weight: bold;
}
.bg-white {
    background-color: #fff;
}
.bg-white .cart_box {
    background-color: transparent;
    /*box-shadow: none;*/
}
.cart_heading span:before {
    content: '(';
}
.cart_heading span:after {
    content: ')';
}

/* top flow */

.flow_nav {
    width: 390px;
    height: 52px;
    font-size: 16px;
    display: inline-block;
    margin-top: 10px;
    position: absolute;
    padding-left: 0;
}
.circle_nav {
    background-color: #f0f0f0;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid #ddd;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 1px 1px 3px #555;
    cursor: pointer;
    overflow: hidden;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center center;
}
.flow_nav .active {
    transform: scale(1.5, 1.5);
    box-shadow: 0px 0px 7px 0px #72F568;
}
.flow_nav .active + span{
    font-weight: bold;
    font-size: 13px;
}
.flow_nav .another_active {
    background-image: url('../images/icon_sprite.png');
    background-size: 440px 170px;
    background-position: 0px -60px;
}
.focus_flow {
    background-image: url('../images/icon_sprite.png');
    background-size: 318px 107px;
    background-position: -2px -72px;
}
.customize_flow {
    background-image: url('../images/icon_sprite.png');
    background-size: 464px 164px;
    background-position: -201px -5px;
}
.engage_flow {
    background-image: url('../images/icon_sprite.png');
    background-size: 464px 164px;
    background-position: -51px -5px;
}
.evaluate_flow {
    background-image: url('../images/icon_sprite.png');
    background-size: 464px 164px;
    background-position: -101px -6px;
}
.act_flow {
    background-image: url('../images/icon_sprite.png');
    background-size: 459px 161px;
    background-position: -149px -5px;
}
.track_flow {
    background-image: url('../images/icon_sprite.png');
    background-size: 464px 164px;
    background-position: -2px -7px;
}
.customize_flow.active {
    background-image: url('../images/icon_sprite.png');
    background-size: 392px 109px;
    background-position: -229px -74px;
}
.engage_flow.active {
    background-image: url('../images/icon_sprite.png');
    background-size: 350px 109px;
    background-position: -54px -74px;
}
.evaluate_flow.active {
    background-image: url('../images/icon_sprite.png');
    background-size: 350px 109px;
    background-position: -103px -74px;
}
.act_flow.active {
    background-image: url('../images/icon_sprite.png');
    background-size: 350px 109px;
    background-position: -154px -74px;
}
.track_flow.active {
    background-image: url('../images/icon_sprite.png');
    background-size: 350px 109px;
    background-position: -253px -74px;
}
.flow_nav .active + span {
    font-weight: bold;
}
.flow_nav span {
    font-size: 10px;
    color: #6a6a6a;
    position: absolute;
    margin-top: 46px;
    margin-left: -64px;
    width: 95px;
    text-align: center;
}
.horiz_seperator {
    margin-left: -1%;
    margin-right: -1%;
    width: 8%;
    height: 2px;
    display: inline-block;
    background-color: #B5B5B5;
    margin-bottom: 16px
}
.dynamic_field::before {
    content: ':';
}
.dynamic_cost::before {
    content: '$';
}

/*ExSpon Details Page*/
#exspon_details_page .navbar {
    padding: 0;
}
#exspon_details_page .nav {
    border-bottom: 2px solid #09A6D0
}
#exspon_details_page .nav li a {
    padding: 8px 20px;
    font-size: 17px;
    text-align: center;
}
#exSpon_Details .descrption_ul li {
    line-height: 3;
}
#exSpon_Details .configure_assessment {
    margin-top: 30px;
}
#exSpon_Details .configure_assessment h5 {
    text-indent: 30px;
}
#exSpon_Details .configure_assessment button {
    margin-top: 30px;
}
.marginLeft60 {
    margin-left: 60px;
}
.custom_assessments {
    height: 66px;
    padding-top: 20px;
}
/*exSpon_Details_Configurator_Timeline*/
#exSpon_Configurator_Switch_Tab .nav {
    border-bottom: transparent;
}
#exSpon_Configurator_Switch_Tab .nav li {
    border-bottom: 2px solid #AAA9A9;
    margin-right: 2%;
}
#exSpon_Configurator_Switch_Tab .nav-tabs li a {
    color: #AAA9A9;
    font-size: 13px;
}
#exSpon_Configurator_Switch_Tab .nav-tabs .active a {
    color: black;
}
#exSpon_Configurator_Switch_Tab .nav-tabs .active {
    border-bottom: 2px solid black;
}
#exSpon_Configurator_Switch_Tab .nav li a {
    padding: 5px 12px;
}
.radio_button_custom input[type="radio"] {
    display: none;
}
.radio_button_custom input[type="radio"] + label .fa-check-circle {
    display: none;
}
.radio_button_custom input[type="radio"]:checked + label .fa-check-circle {
    display: block;
    color: #09A6D0;
}
.radio_button_custom input[type="radio"] + label:after {
    display: none;
}
.radio_button_custom input[type="radio"]:checked + label .fa-circle-thin {
    display: none;
}
.radio_button_custom i {
    margin-right: 5px;
}
.radio_button_custom .fa-circle-thin {
    color: rgba(128, 128, 128, 0.8);
}
#timeline .radio_buttons label {
    margin-left: 20px;
}
#timeline .timeframe {
    text-align: center;
}
#timeline .timeframe .description {
    position: absolute;
    bottom: -50px;
    width: 100px;
    margin-left: -50px;
    text-align: center;
}
#timeline .timeframe .description span {
    display: block;
}
#timeline .timeframe .description .ongoing{
    color: #42C054;
}
#timeline .timeframe_content {
    display: inline-block;
    height: 250px;
    width: 75px;
    text-align: center;
    margin-bottom: 50px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    background-color: #ADADAD;
    height: 250px;
}

#permissions .radio_button_custom .fa-circle-thin {
    color: rgba(128, 128, 128, 0.8);
}

#permissions .fa-toggle-on, #permissions .fa-toggle-off {
    cursor: pointer;
}

#exSpon_DetailsPage_Configurator_Timeline .controllers label {
    width: 30%;
    text-align: right;
}
#exSpon_DetailsPage_Configurator_Timeline .duration input {
    width: 20%;
}
.details_sub_heading {
    font-size: 15px;
    color: #6F6F6F;
    position: absolute;
    left: 0;
    margin-top: 30px;
}
.exSpon_details_heading {
    padding-left: 0;
    margin-left: -30px;
    padding-top: 14px;
}
.view_progress_button {
    float: right;
    color: #2C88CE;
    background-color: #fff;
    border-style: none;
    border: 1px solid #92CEEE;
    border-radius: 6px;
    height: 30px;
    font-size: 14px;
    position: relative;
    margin: 25px -50px 0px 0px
}
/*exSpon_DetailsPage_Configurator_Permissions*/
#permissions #radio_button_custom {
    margin-top: 10px;
    padding-left: 20px;
    line-height: 2.5;
}
#permissions .form-content {
    float: none;
}
#permissions .form-content label {
    width: 25%;
    text-align: right;
}
#permissions h5, #permissions h6, #invite_ceo h5 {
    margin: 10px 0px;
}
#permissions i {
    color: #2C88CE;
}
#permissions .radio_button_custom input[type="radio"]:checked + label .fa-check-circle {
    color: #09A6D0;
}

/*exSpon_DetailsPage_Configurator_Assessors*/
#assessors label {
    margin-left: 30px;
}
/*exSpon_Detailspage_Configurator_InviteCEO */
#invite_ceo {
    font-size: 15px;
}
.ceo_will_be_able_to {
    margin-left: 20px;
}
#invite_ceo ul li {
    line-height: 3;
}
.invite_ceo_details>.row>.col-md-4 {
    text-align: right;
}
.invite_ceo_details>.row>.col-md-8 {
    padding-left: 0;
}
.invite_ceo_details>.row>.col-md-8 input {
    width: 90%;
}
.invite_ceo_button {
    text-align: center;
    display: inline-block;
    margin-top: 15px;
    margin-left: 260px;
}
.invite_ceo_powered_by {
    display: inline-block;
    font-size: 12px;
    color: #666464;
    float: right;
    margin-right: -50px;
}
/* Pending tasks */
.challenge_box>.pending_task_heading, .challenge_box>.result_and_report {
    margin: 10px 55px;
}
.challenge_box>.pending_task_heading>.col-md-2>h5, .challenge_box>.result_and_report>.col-md-3>h5 {
    margin-top: 30px;
    color: #231F20;
}
.pending_task_heading>.col-md-4>.dropdown_select, .result_and_report>.col-md-4>.dropdown_select {
    width: 240px;
    margin-top: 22px;
    margin-left: 80px;
    color: #A7A1A1;
    font-size: 15px;
}
.pending_task_heading.challenge_box>.col-md-4>div, .pending_task_heading>.col-md-3>div{
    font-size: 16px;
}
.pending_task_heading.challenge_box>.col-md-4>span, .pending_task_heading>.col-md-3>span{
    font-size: 14px !important;
    color: #999999;
}
.pending_task_heading.challenge_box>.col-md-4, .pending_task_heading.challenge_box>.col-md-3, .pending_task_heading.challenge_box>.col-md-2 {
     padding-left: 35px;
     padding-top: 14px;
     margin-bottom: 25px;
}
 .pending_task_heading.challenge_box>.col-md-2 {
     margin-top: 20px;
 }
.pending_task_heading.challenge_box>.col-md-2>a>span {
    font-size: 16px;
    color: #2787AF;
}
.pending_task_heading.challenge_box>.col-md-4 {
    color: #09A6D0;
}
/*exSpon_DetailsPage_Configurator_Branding*/

#branding h5 {
    margin: 15px 0px;
}

/*exSpon_DetailsPage_Configurator_AddOns*/
#add_ons .fa-info-circle {
    font-size: 18px;
    color: #09A6D0;
}
#add_ons .add-ons-point-calc input {
    width: 10%;
    background: white;
    padding: 5px 25px 5px 5px;
    border: 2px solid #ddd;
}
#add_ons .add-ons-point-calc span {
    line-height: 2.0;
}
#add_ons input[type="text"] {
    background: white;
    padding: 5px 25px 5px 5px;
    border: 2px solid #ddd;
}
#add_ons .small_input {
    width: 10%;
}
#add_ons .radio_buttons {
    margin: 15px 0px;
}
#add_ons .radio_buttons label {
}

#sideMenu>.list-group>div>a.actives{
    background-color: #ccc;
}
/* exSpon_Details_ExpertPanelMembers*/
.exSpon_Details_ExpertPanel.challenge_box>.col-md-4, .exSpon_Details_ExpertPanel.challenge_box>.col-md-3, .exSpon_Details_ExpertPanel.challenge_box>.col-md-2 {
     padding-left: 35px;
     padding-top: 8px;
     margin-bottom: 8px;
}
.row.exSpon_Details_ExpertPanel.challenge_box {
    margin-left: 30px;
    margin-right: 30px;
}
.expertPanel_container>.expertPanel_heading {
    background-color: #F7F7F7;
    margin-right: 30px;
    font-size: 14px;
    color: #231F20;
}
.expertPanel_heading span {
    position: absolute;
    margin-top: 9px;
}
.exSpon_Details_ExpertPanel a{
    color: #09A6D0;
}
.exSpon_Details_ExpertPanel h4 {
    font-weight: normal;
    color: #333333;
    margin-bottom: 3px;
}
.exSpon_Details_ExpertPanel span {
    font-size: 15px;
    color: #787878;
}
#core_functions_wrapper{
    width: 100%;
    clear: both;
}
.search-sect{
    position: absolute;
    right: 25px;
    top: 30px;
    z-index: 10;
}
.content-title{
    padding: 25px 0;
    width: 50%;
}

/*ExSpon My Assessment Page*/
#exspon_myAssessment .graph_detail .total h4, #exspon_myAssessment .graph_detail .total h3 {
    text-transform: uppercase;
}
#exspon_myAssessment .graph_detail .total h4, #exspon_myAssessment .graph_detail .total h3 {
    color: #484747;
}
#exspon_myAssessment .graph_detail .new h4, #exspon_myAssessment .graph_detail .new h3 {
    color: #F5BD37;
}
#exspon_myAssessment .graph_detail .active h4, #exspon_myAssessment .graph_detail .active h3 {
    color: #165884;
}
#exspon_myAssessment .graph_detail .ongoing h4, #exspon_myAssessment .graph_detail .ongoing h3 {
    color: #43A543;
}
#exspon_myAssessment .graph_detail .functional h4, #exspon_myAssessment .graph_detail .functional h3 {
    color: #F18282;
}
#exspon_myAssessment .marginTop20 {
    margin-top: 25px;
}
#exspon_myAssessment .items button {
    margin-top: 25%;
}
#exspon_myAssessment .tag-top::before {
    width: 110px;
    display: inline-block;
    color: white;
    padding: 6px 12px;
    text-align: center;
    transform: rotate(320deg);
    position: absolute;
    left: -37px;
    top: 0px;
}
#exspon_myAssessment .new .tag-top::before {
    content: 'NEW';
    background-color: #F5BD37;
}
#exspon_myAssessment .active .tag-top::before {
    content: 'ACTIVE';
    background-color: #165884;
}
#exspon_myAssessment .ongoing .tag-top::before {
    content: 'ONGOING';
    background-color: #43A543;
}
#exspon_myAssessment .overflowHidden {
    overflow: hidden;
}
#exspon_myAssessment .ongoing button, #exspon_myAssessment .active button {
    white-space: normal;
    width: 78px;
    line-height: 1.1;
    padding: 5px;
}
#exspon_myAssessment .notification h5 {
    margin: 20px 10px;
}
#exspon_myAssessment .details {
    margin: 5px 0px;
}
#exspon_myAssessment .notification .col-md-12 {
    height: 290px;
}

/* exSpon_DetailsPage_Questionnaire */
.Questionnaire_box {
    margin-left: 15px;
    margin-right: 15px;
}
.Questionnaire_box .rating-container .caption {
    display: inline-block;
    padding-top: 9px;
}
.Questionnaire_box .rating-container .caption span {
    background-color: #fff;
    color: #FFB600;
    font-size: 15px;
}
.customized_assessment .col-md-6 span {
    font-size: 16px;
    position: absolute;
    margin-top: 12px;
}
.customized_assessment .col-md-6 p, .customized_assessment .col-md-2 p {
    margin: 35px 0px 0px 0px;
    font-size: 14px;
    color: #787878;
}
.customized_assessment {
    margin-bottom: 85px;
}
.customized_assessment .col-md-2 div {
    font-size: 23px;
    float: right;
    margin-right: 15px;
    margin-top: 8px;
}
.customized_assessment .col-md-2 p {
    float: right;
    margin-right: -26px;
}
.customized_headings h4 {
    display: inline-block;
}
.customized_headings h4::after {
    content: ' (';
}
.customized_headings span {
    font-size: 16px;
    font-weight: normal;
}
.customized_headings span::after {
    content: ')';
}
.customized_assessment_section .container-fluid.challenge_box {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.customized_assessment_section .container-fluid.challenge_box .col-md-3 {
    padding: 0;
}
.customized_assessment_section .container-fluid.challenge_box .col-md-3>div {
    float: right;
    padding-right: 25px;
}
.customized_assessment_section .container-fluid.challenge_box .col-md-3>span, .customized_assessment_section .container-fluid.challenge_box .col-md-7>div>.customized_sub_heading_content{
    font-size: 15px;
    color: #787878;
    padding-top: 13px;
}
.customized_sub_headings {
    font-size: 17px;
    margin-bottom: 10px;
}
.customized_assessment_section .container-fluid.challenge_box .col-md-7 .customized_sub_heading_content{
    padding-left: 28px;
}
.customized_assessment_downarrow {
    background-image: url('../images/arrow_down.png');
    width: 20px;
    height: 20px;
    float: right;
    background-size: 100%;
    position: absolute;
    margin-left: 75%;
    margin-top: -3%;
}

/*Home page*/
.home_wheel_bg {
    background-color: #B1B7BE;
}
#home_wheel_container .wheel_container {
    padding-top: 25px;
    padding-left: 100px;
}
#home_wheel_container .wheel_wrapper .over_text {
    position: absolute;
    bottom: -9px;
    background-color: rgba(0, 0, 0, 0.8);;
    color: #fff;
    padding: 15px 40px;
    width: 104%;
}
#home_wheel_container .wheel_container img {
    position: absolute;
}
#home_wheel_container .wheel_container .wheel-details {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #EAEAEB;
    left: -370px;
    padding: 20px 15px;
    display: none;
    box-shadow: 0px 0px 6px 0px rgba(125, 125, 125, 1);
    border-left: 5px solid #FECA5A;
}
#home_wheel_container .wheel_container .wheel-details:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: -70px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
	border-bottom: 200px solid transparent;
	border-left: 70px solid #EAEAEB;
}
#home_wheel_container .wheel-details div {
    padding: 2px 10px;
}
#home_wheel_container .wheel-details ul li {
    list-style-type: none;
    margin-bottom: 10px;
    line-height: 1.5
}
#home_wheel_container .wheel_container .img-center-div {
    display: inline-block;
    width: 26%;
    height: 25%;
    position: absolute;
    left: 41%;
    top: 40%;
    text-align: center;
}
#home_wheel_container .img-center-div .number {
    color: #FECA5A;
}
#home_wheel_container .wheel_container .arrow-right {
    display: none;
    position: absolute;
    left: -20px;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    border-left: 70px solid #EAEAEB;
}

/* exSpon - Result and Reports*/
.challenge_box>.result_and_report.challenge_box {
    margin: 10px 20px;
}
.result_and_report>.col-md-5>.col-md-3>img {
    width: 100%;
}
.result_and_report>.col-md-5>.col-md-9, .result_and_report>.col-md-4, .result_and_report>.col-md-3 {
    padding-left: 10px;
    padding-top: 13px;
}
.result_and_report>.col-md-5>.col-md-9>.customized_sub_heading_content, .result_and_report>.col-md-4>.col-md-4>.customized_sub_heading_content{
    margin-top: -7px;
    font-size: 13.5px;
    color: #B7B7B7;
}
.share_report>.col-md-3 {
    text-align:center;
}
.share_report>.col-md-3 span>a {
    color: #413E3F;
}
.backgroundRed {
    background-color: red;
}
.backgroundGreen {
    background-color: green;
}
.backgroundYellow {
    background-color: yellow;
}
.overall_effectiveness {
    width: 13px;
    height: 13px;
    border-radius: 7px;
    margin-bottom: 8px;
    margin-top: 7px;
}
#exspon_home_page .tiles {
    padding-bottom: 15px;
}
#exspon_home_page .tiles h4 {
    padding: 10px 15px;
    border: 1px solid rgba(100, 100, 100, 0.3);
}
#exspon_home_page .customer_says i {
    line-height: 10;
    color: #918F8F;
}
#exspon_home_page .or-div {
    width: 50px;
    margin-top: 15px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #929090;
    font-weight: bold;
    color: #929090;
    padding-top: 14px;
}
#exspon_home_page .btn_container_div img{
    margin-top: -30px;
}
#exspon_home_page .btn_container_div {
    padding-left: 100px;
}
#exspon_home_page .updates_wrapper {
    height: 305px;
    overflow-y: hidden;
    transition: all 0.3s ease;
}
#exspon_home_page .live_updates .view_more {
    color: #569AD5;
    transition: all 0.3s linear;
    cursor: pointer;
}
#exspon_home_page .live_updates .view_more:hover {
    color: #0e76d0;
    text-decoration: underline;
}
#exspon_home_page .updates {
    line-height: 1.7;
    list-style-type: none;
    margin-bottom: 40px;
}
#exspon_home_page .updates img {
    width: 60px;
    border-radius: 10px;
    height: 60px;
}
#exspon_home_page .customer_says {
    overflow: hidden;
}
#exspon_home_page .customer_says .details {
    margin-bottom: 9px;
}
#exspon_home_page .customer_says .slider img {
    width: 120px;
}
#exspon_home_page .customer_says .slider {
    margin-top: 10px;
    transition: all 1s ease-in;
    background-color: #fff;
    left: -100%;
    list-style-type: none;
    position: absolute;
}
#exspon_home_page .slider_wrapper {
    height: 253px;
    padding: 0;
    overflow: hidden;
}
#exspon_home_page .slider_wrapper .active {
    left: 0;
    z-index: 10;
}
#exspon_home_page .customer_says i {
    transition: all 0.3s linear;
    cursor: pointer;
}
#exspon_home_page .customer_says i:hover {
    color: red;
}
.learning_center .each_tiles {
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
}
.learning_center .each_tiles:hover {
    transform: scale(1.3, 1.3);
}
.learning_center .video-tutorial {
    left: 230px;
    top: 60px;
}
.learning_center .video-tutorial .scale-img {
    background-position: 125px 0px;
}
.learning_center .brochures {
    left: 270px;
    top: 120px;
}
.learning_center .brochures .scale-img {
    background-position: 330px 0px;
}
.learning_center .live-demo {
    left: 290px;
    top: 200px;
}
.learning_center .live-demo .scale-img {
    background-position: 60px 0px;
}
.learning_center .webinars {
    left: 270px;
    top: 280px;
}
.learning_center .webinars .scale-img {
    background-position: 195px 0px;
}
.learning_center .white-papers {
    left: 230px;
    top: 340px;
}
.learning_center .white-papers .scale-img {
    background-position: 260px 0px;
}
.learning_center .each_tiles h5{
    display: inline-block;
    width: 150px;
    margin-top: 20px;
    margin-left: 60px;
    text-align: center;
}
.learning_center .each_tiles .scale-img {
    width: 60px;
    height: 60px;
    display: inline-block;
    transition: all 0.5s ease;
    background-image: url('../images/icon_sprite.png');
}
.learning_center .transformImage {
    transform: scale(1.3, 1.3);
}
.details_page_nav .nav {
    border-bottom: 2px solid #09A6D0;
}
#AA_details_page .nav li a {
    padding: 13px 11px 0px 12px;
    font-size: 15px;
    text-align: center;
    height: 49px;
}
#AA_details_page .navbar {
    padding-top: 0;
}
#AA_details_page>.container>.bg-white {
    box-shadow: 0px 0px 1px 0px rgba(125, 125, 125, 0.7);
}

#AA_details_page .blue_border_button {
    color: #2C88CE;
    background-color: #fff;
    border-style: none;
    border: 1px solid #92CEEE;
    border-radius: 6px;
    font-size: 14px;
    position: relative;
}
#AA_details_page .edit_button {
    margin-right: 30px;
    padding: 6px 25px;
}
.KPA_assigned {
    font-size: 15px;
    color: #484747;
}
.table_head_KPA {
    background-color: #E6E6E6;
    margin-top: 2px;
    text-align: center;
    color: #6F6F6F;
    font-size: 15px;
}
.table_head_KPA div {
    border-right: 1px solid #D9D9D9;
}
.table_head_KPA>.col-md-3 {
    padding-top: 10px;
    height: 41px;
}
.table_content_KPA {
    padding-left: 15px;
    background-color: #FBFBFB;
}
.rating_CSF {
    padding-top: 0 !important;
}
